<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Yu-gi-oh Card Generator</title>
        <link rel="icon" href="{{url_for('static',filename='/img/aicamplogo.png')}}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{url_for('static',filename='/css/styles.css')}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed home_body">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{url_for('home')}}">Home</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
          
          
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Content</div>
                            <a class="nav-link" href="{{url_for('cardgen')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Card Generator
                            </a>
                            <a class="nav-link" href="{{url_for('cardbattle')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Card Battle
                            </a>
                            <div class="sb-sidenav-menu-heading">Other</div>
                            <a class="nav-link" href="{{url_for('howitworks')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                How it works
                            </a>
                            <a class="nav-link" href="{{url_for('teams')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                The Team
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small"></div>
                    </div>
                </nav>
            </div>
      </div>
            <!--Navbar End-->
            <div id="layoutSidenav_content">
                <main>
                  <div class="container cardbattle_container">
                    <div class="score score--computer">Score: <span id="score--0">0</span></div>
                    <div class="score score--player">Score: <span id="score--1">0</span></div>

                    <div class="end"><span class="game-over"></span></div>

                    <div class="vs">
                      <div>
                        <span class="pokemon-info computer-pokemon"></span>
                        vs
                        <span class="pokemon-info player-pokemon"></span>
                      </div>
                      <span class="winner"></span>
                      <span class="result"></span>
                    </div>

                    <div class="computer-cards">
                      <div class="card card--computer">
                        <img src="https://cdn.discordapp.com/attachments/990085433281118228/996824240122769602/unknown.png" class="card-img" alt="yugioh Card" />
                      </div>
                      <div class="card card--computer">
                        <img src="https://raw.githubusercontent.com/Asonjay/AI-Camp-Repo/main/SC22-BatchB-stereo-cavemen/cropped_imgs/Card_Back.png" class="card-img" alt="Pokemon Card" />
                      </div>
                      <div class="card card--computer">
                        <img src="https://cdn.discordapp.com/attachments/990085433281118228/996824240122769602/unknown.png" class="card-img" alt="yugioh Card" />
                      </div>
                      <div class="card card--computer">
                        <img src="https://cdn.discordapp.com/attachments/990085433281118228/996824240122769602/unknown.png" class="card-img" alt="yugioh Card" />
                      </div>
                      <div class="card card--computer">
                        <img src="https://cdn.discordapp.com/attachments/990085433281118228/996824240122769602/unknown.png" class="card-img" alt="yugioh Card" />
                      </div>
                    </div>

                    <div class="player-cards">
                      <div class="card card--player" id="0">
                        <img src="https://raw.githubusercontent.com/Asonjay/AI-Camp-Repo/main/SC22-BatchB-stereo-cavemen/cropped_imgs/Card_Back.png" class="card-img" alt="yugioh Card" />
                      </div>
                      <div class="card card--player" id="1">
                        <img src="https://cdn.discordapp.com/attachments/990085433281118228/996824240122769602/unknown.png" class="card-img" alt="Pokemon Card" />
                      </div>
                      <div class="card card--player" id="2">
                        <img src="img/cards/Charmander.png" class="card-img" alt="Pokemon Card" />
                      </div>
                      <div class="card card--player" id="3">
                        <img src="img/cards/Haunter.png" class="card-img" alt="Pokemon Card" />
                      </div>
                      <div class="card card--player" id="4">
                        <img src="img/cards/Jigglypuff.png" class="card-img" alt="Pokemon Card" />
                      </div>
                    </div>
                  </div>
                </main>
            </div>
    <script src="js/utility.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
  </body>
</html>
